/*

основной серый текст - #757575
второстепенный черный текст- #212121

при наведении на ссылку (акцент) - голубой - #2196F3

белый текст в hero и футере  - #FFFFFF

задний фон на нечетной сеции - #F5F4FA

задний фон hero и футера темно-синий - #2F303A
*/

:root {
  --primary-text-color: #757575;
  --secondary-black-color: #212121;
  --accent-blue-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-background: #2f303a;
  --gray-background: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ------------NAVIGATION------------ */
.logo {
  color: var(--accent-blue-color);

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo .header {
  color: var(--secondary-black-color);
}

.logo .footer {
  color: var(--primary-white-color);
}

.site-nav .link {
  color: var(--secondary-black-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.info-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-blue-color);
}

.info-nav .link:hover,
.info-nav .link:focus {
  color: var(--accent-blue-color);
}

.site-nav .link.current {
  color: var(--accent-blue-color);
}

/* ------------HERO------------ */

.hero {
  background-color: var(--dark-background);
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ------------BUTTON------------ */

.button-list .button {
  background-color: var(--gray-background);
  color: var(--secondary-black-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.active {
  color: var(--primary-white-color);
  background-color: var(--accent-blue-color);
}

.main-button.active {
  color: var(--primary-white-color);
  background-color: var(--accent-blue-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

/* ------------ОСОБЛИВОСТІ------------ */

.section-title {
  color: var(--secondary-black-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.features-list .title {
  color: var(--secondary-black-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ------------ЗАЙМАЄМОСЬ------------ */

/* ------------КОМАНДА------------ */

.team-list .title,
.team-list p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .title {
  color: var(--secondary-black-color);
}

/* ------------ФУТЕР------------ */

.footer {
  background-color: var(--dark-background);
}

.contact-address {
  font-style: normal;
}

.address-list .link {
  color: rgba(255, 255, 255, 0.6);
}

.address-list .link[href*='maps'] {
  color: var(--primary-white-color);
}

/* ------------***PORTFOLIO***------------ */

.examples-list .title {
  color: var(--secondary-black-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list .type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.examples-list .link {
  color: var(--primary-text-color);
}
